@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Здесь могла быть ваша реклама,<br />
    свяжитесь с нами по номеру<br />
    8-800-555-35-35 :D</p>
    <p>Сейчас реализована только базовая архитектура, есть куда развивать проект и много чего можно добавить</p>
    <p>Судите строго, но не сильно)</p>
</div>
