@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Мы не предоставляем никаких гарантий что ваши данные будут в целости и сохранности. Спасибо что остаётесь с нами. Досвидания.</p>
